<% content_for :page_title do %>
  <%= Spree.t(:social_links) %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <%= render "spree/shared/error_messages", :target => @spree_social_link %>
    <%= render "form" %>
    <% if @spree_social_links.empty? %>
      <%= Spree.t(:no_links) %>
    <% else %>
      <table class="index table">
        <colgroup>
          <col style="width: 25%">
          <col style="width: 55%">
          <col style="width: 10%">
        </colgroup>
        <thead>
          <tr>
            <th class=""><%= Spree.t(:icon) %></th>
            <th class=""><%= Spree.t(:url) %></th>
            <th class="text-right"><%= Spree.t('Actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% @spree_social_links.each do |spree_social_link| %>
            <tr class="<%= cycle('odd', 'even') %>">
              <td class="align-center"><%= image_tag spree_social_link.icon_image.url(:mid) %></td>
              <td class="align-center"><%= spree_social_link.url %></td>
              <td class="text-right">
                <%= link_to 'Destroy', admin_social_link_path(spree_social_link), method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
