<p id="notice"><%= notice %></p>

<h1>Spree Social Links</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spree_social_links.each do |spree_social_link| %>
      <tr>
        <%# <td><%= link_to 'Edit', edit_spree_social_link_path(spree_social_link) %1></td> %>
        <td><%= link_to 'Destroy', spree_social_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>New Spree Social Link</h1>

<%= render 'form', spree_social_link: @spree_social_link %>

<%# <%= link_to 'Back', spree_social_links_path %1> %>
